html {
  background-color: #E0F6FD; }

#content {
  background-color: #3B3B3B;
  padding: 20px; }

p {
  color: #F6FDF6; }

h2 {
  color: #E3BF13; }

h1 {
  color: #FCCD10; }

h1 {
  text-align: center; }

img {
  border: solid #FCCD10 2px;
  padding: 2px;
  float: left;
  margin-bottom: 15px;
  margin-right: 15px; }

img.img-right {
  float: right;
  margin-left: 7px;
  margin-bottom: 0;
  margin-right: 0; }

.brief {
  background-color: #FFF178;
  float: 100%;
  width: auto;
  padding: 20px;
  margin-right: 15px;
  margin-bottom: 40px; }

caption {
  text-align: right; }

table {
  width: 90%;
  border-collapse: collapse; }

th {
  background-color: #94A34E;
  text-align: left;
  padding-left: 15px;
  padding-bottom: 7px;
  padding-top: 7px;
  text-transform: uppercase;
  font-weight: normal; }

th:not(:first-child) {
  border-left: 1px solid white; }

td {
  color: #E7FFFE;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 15px;
  background-color: #677D01;
  border-bottom: 1px solid #859440; }

a {
  color: #FCCD10; }

.col2-area {
  display: flex; }

.col2-area div:first-child {
  margin-right: 15px; }

.input-area {
  margin-bottom: 10px; }

form, input, textarea {
  display: grid;
  color: #E3BF13;
  width: 100%; }

input {
  padding: 3px; }

label {
  margin-bottom: 10px; }

form {
  display: grid; }

input, textarea {
  margin-top: 5px; }

button {
  margin-top: 15px;
  color: #DAB520;
  border: 1px solid #DAB520;
  width: 180px;
  height: 35px;
  font-size: 1.1em;
  background-color: #3B3B3B; }
