$bg-color: black;
$content-bg-color: white;
$h2-color: #893C00;
$h1-color: #8E3C00;
$h1-align: center;
$content-padding: 20px;
$img-border: solid  #893C00 2px;
$img-padding: 2px;
$img-float-left: left;
$img-float-right: right;
$img-margin: 15px;
$brief-bg: #FADCBA;
$brief-float: left;
$brief-weight: 390px;
$brief-padding: 20px;
$brief-margin-right: 15px;
$img-right-margin-left: 7px;
$img-right-margin-bottom: 0;
$img-right-margin-right: 0;
$caption-text: right;
$table-width: 90%;
$th-bg-color: #E0E0E0;
$th-text: left;
$th-padding-left: 15px;
$th-padding-bottom: 7px;
$th-padding-top: 7px;
$th-text-transform: uppercase;
$th-font-weight: normal;
$a-color: #4E79AB;
$button-color: #3d70a1;
$button-border: 1px solid;
$button-width: 180px;
$button-height: 35px;
$button-font-size: 1.1em;
$button-bg-color: #FFFFFF;

$brief-margin-button: 40px;
$table-border-collapse: collapse;
$th-border-left: 1px solid white;
$p-color: black;
$td-color: black ;
$td-vertical-bottom: 7px;
$td-padding-left: 15px;
$td-background-color: white;
$td-border-bottom: 1px solid silver;
$col2-area-margin-right: 15px;
$input-area-margin-bottom: 10px;
$form-input-textarea-display: grid;
$form-input-textarea-color: #848182;
$form-input-textarea-width: 100%;
$input-padding: 3px;
$label-margin-bottom: 10px;
$form-display: grid;
$input-textarea-margin-top: 5px;
$button-margin-top: 15px;